<app-header></app-header>

<div class="container">

  <div class="row">
    <div class="col-md-9">
      <!-- <mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = $event"
              aria-label="Select page">
      </mat-paginator> -->

      <h2>Últimas oportunidades {{labelInfoVagas}}</h2>

      <div *ngFor="let vaga of vagas" class="card">
        <div class="card-header">
          {{vaga.id}} - {{vaga.nome}}
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <p class="card-text">Tipo de contratação: {{vaga.tipo.nome}}</p>
          <p class="card-text">Quantidade de Vagas: {{vaga.quantidade}}</p>
          <p class="card-text">Salário: {{vaga.salario | currency:'BRL'}}</p>
          <hr>
          <div class="row">
            <div class="col-md-3">
              <p><i class="bi bi-geo-alt"></i> {{vaga.localizacao}}</p>
            </div>
            <div class="col-md-3">
              <p><i class="bi bi-calendar"></i> Expira em: {{vaga.expiracao | date: 'dd/MM/yyyy'}}</p>
            </div>
            <div class="col-md-6">
              <!-- <button class="btn btn-success" style="margin-right: 15px;">Candidatar-se</button> -->
              <button (click)="openDetalhes(vaga.id)" class="btn btn-blue">Ver detalhes</button>
            </div>
          </div>
        </div>
      </div>

      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{'disabled' : page === 0}">
            <a (click)="irPaginaAnterior()" class="page-link">Anterior</a>
          </li>
          <li class="page-item active">
            <a class="page-link primary">{{page + 1}}</a>
          </li>
          <li class="page-item" [ngClass]="{'disabled' : last}">
            <a (click)="irPaginaPosterior()" class="page-link">Próximo</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="col-md-3">
      <p style="margin-top: 48px;">Procure uma oportunidade</p>
      <div class="input-group">
        <input [(ngModel)]="pesquisa" type="text" class="form-control input-lg" placeholder="Buscar"/>
        <span class="input-group-btn">
          <button (click)="buscar()" class="btn btn-blue btn-lg" type="button">
            <i class="bi bi-search"></i>
          </button>
        </span>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
