<app-header></app-header>

<div class="container">

  <div class="row">
    <div class="col-md-9">
      <!-- <mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = $event"
              aria-label="Select page">
      </mat-paginator> -->

      <p class="texto-oportunidades">Últimas oportunidades</p>

      <div *ngFor="let vaga of vagas" class="card">
        <div class="card-header">
          <p class="nome-vaga">{{vaga.nome}}</p>
        </div>
        <div class="card-body">
          <p class="card-text" style="font-size: 18px;"><i class="bi bi-building"></i> {{vaga.empresa.nome}}</p>
          <hr>
          <div class="row">
            <div class="col-md-4">
              <p class="card-text">Tipo de contratação: {{appService.tiposContratacao[vaga.tipo].viewValue}}</p>
            </div>
            <div class="col-md-4">
              <p class="card-text">Quantidade de Vagas: {{vaga.quantidade}}</p>
            </div>
            <div class="col-md-4">
              <p class="card-text">Salário: {{vaga.salario | currency:'BRL'}}</p>
            </div>
          </div>
          <div class="row" style="margin-top: 12px;">
            <div class="col-md-12">
              <p class="card-text">Localização: <i class="bi bi-geo-alt"></i>{{vaga.localizacao}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-3">
              <!-- <p class="card-text">Localização: <i class="bi bi-geo-alt"></i>{{vaga.localizacao}}</p> -->
            </div>
            <div class="col-md-3">
              <!-- <p><i class="bi bi-calendar"></i> Expira em: {{vaga.expiracao | date: 'dd/MM/yyyy'}}</p> -->
            </div>
            <div class="col-md-3">
              <button (click)="openDetalhes(vaga.id)" class="btn btn-blue">Ver detalhes</button>
            </div>
            <div *ngIf="loginService.usuarioAutenticado && loginService.objUsuarioAutenticado.tipoUsuario == 2"  class="col-md-3">
              <button (click)="candidatarClick(vaga.id)" class="btn btn-green">Candidatar-se</button>
            </div>
          </div>
        </div>
      </div>

      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{'disabled' : page === 0}">
            <a (click)="irPaginaAnterior()" class="page-link">Anterior</a>
          </li>
          <li class="page-item active">
            <a class="page-link primary">{{page + 1}}</a>
          </li>
          <li class="page-item" [ngClass]="{'disabled' : last}">
            <a (click)="irPaginaPosterior()" class="page-link">Próximo</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="col-md-3">
      <p style="margin-top: 48px;">Procure uma oportunidade</p>
      <div class="input-group">
        <input (keyup)="buscar()" [(ngModel)]="pesquisa" type="text" class="form-control input-lg" placeholder="Buscar"/>
        <span class="input-group-btn">
          <button (click)="buscar()" class="btn btn-blue btn-lg" type="button">
            <i class="bi bi-search"></i>
          </button>
        </span>
      </div>

      <p style="margin-top: 10px;">Tipos de contratações</p>
      <mat-button-toggle-group vertical style="width: 100%;">
        <mat-button-toggle (click)="buscarTipo()" class="button" value="bold">Todos</mat-button-toggle>
        <ng-container *ngFor="let tipo of appService.tiposContratacao">
          <mat-button-toggle (click)="buscarTipo(tipo.value)" class="button" value="bold">{{tipo.viewValue}}</mat-button-toggle>
        </ng-container>
      </mat-button-toggle-group>
    </div>
  </div>

</div>

<app-footer></app-footer>
