.container {
  padding-top: 20px;
  padding-bottom: 45px;
  min-height: 100vh;
}

.card {
  margin-bottom: 30px;
}

.texto-oportunidades {
  font-weight: bold;
  font-size: 20px;
}

.card-text {
  font-size: 17px;
}

.page-link {
  cursor: pointer;
}

.nome-vaga {
  font-size: 20px;
  font-weight: bold;
}
