<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-between">
        <p class="titulos">DADOS DA EMPRESA</p>
        <span (click)="editarClick()" [hidden]="isEditavel" class="span-actions editar"><i class="bi bi-pencil"></i> Editar</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
      </div>

      <div class="col-md-9">

        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <input [(ngModel)]="empresa.nome" [readonly]="!isEditavel" matInput placeholder="Nome da empresa" name="nome" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <mat-form-field style="display: block;">
              <input [(ngModel)]="empresa.cnpj" [readonly]="!isEditavel" matInput placeholder="CNPJ da Empresa" name="cnpj" mask="00.000.000/0000-00" required>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field style="display: block;">
              <input [(ngModel)]="empresa.qtdFuncionarios" [readonly]="!isEditavel" matInput placeholder="N° de funcionários" name="numeroFuncionarios" required>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input [(ngModel)]="empresa.nomeResponsavel" [readonly]="!isEditavel" matInput placeholder="Nome do responsável" name="nomeResponsavel" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field style="display: block;">
              <input [(ngModel)]="empresa.telefone" [readonly]="!isEditavel" matInput placeholder="Telefone fixo" name="telefone" mask="(00)0000-0000" required>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field style="display: block;">
              <input [(ngModel)]="empresa.celular" [readonly]="!isEditavel" matInput placeholder="Celular" name="celular" mask="(00)00000-0000" required>
            </mat-form-field>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field style="display: block;">
              <input [(ngModel)]="empresa.cep" [readonly]="!isEditavel" (ngModelChange)="validarCEP($event)" matInput placeholder="CEP" name="cepCandidato" mask="00000-000" required>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input [(ngModel)]="empresa.estado" [readonly]="true" tabindex="-1" matInput placeholder="Estado" name="estado" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input [(ngModel)]="empresa.cidade" [readonly]="true" tabindex="-1" matInput placeholder="Cidade" name="cidade" required>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input [(ngModel)]="empresa.bairro" [readonly]="true" tabindex="-1" matInput placeholder="Bairro" name="bairro" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input [(ngModel)]="empresa.rua" [readonly]="true" tabindex="-1" matInput placeholder="Rua" name="rua" required>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input [(ngModel)]="empresa.complemento" [readonly]="!isEditavel" matInput placeholder="Complemento" name="complemento" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <input [(ngModel)]="empresa.seguimento" [readonly]="!isEditavel" matInput placeholder="Seguimento da empresa (Ex.: T.I.)" name="seguimento" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <mat-label>Descrição</mat-label>
              <textarea [(ngModel)]="empresa.descricao" [readonly]="!isEditavel" matInput placeholder="Quem somos..."></textarea>
            </mat-form-field>
          </div>
        </div>

        <button (click)="salvarClick()" [disabled]="!isEditavel" class="btn btn-blue btn-salvar">Salvar</button>

      </div>
    </div>
  </div>
</div>
