<app-header></app-header>

<div class="container">
  <h2>Últimas Vagas</h2>

  <div *ngFor="let vaga of vagas" class="card">
    <div class="card-header">
      {{vaga.id}} - {{vaga.nome}}
    </div>
    <div class="card-body">
      <!-- <h5 class="card-title">Special title treatment</h5> -->
      <p class="card-text">Tipo de contratação: {{vaga.tipo}}</p>
      <p class="card-text">Quantidade de Vagas: {{vaga.quantidade}}</p>
      <p class="card-text">Salário: {{vaga.salario}}</p>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <p><i class="bi bi-geo-alt"></i> {{vaga.localizacao}}</p>
        </div>
        <div class="col-md-3">
          <p><i class="bi bi-calendar"></i> Expira em: {{vaga.expiracao}}</p>
        </div>
        <div class="col-md-3">
          <button class="btn btn-success">Candidatar-se</button>
        </div>
        <div class="col-md-3">
          <button class="btn btn-primary">Ver detalhes</button>
        </div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
