<app-header></app-header>

<div class="container">
  <h2>Últimas Vagas</h2>

  <div class="card">
    <div class="card-header">
      83121 - Auxiliar de almoxarifado - Global Goiânia
    </div>
    <div class="card-body">
      <!-- <h5 class="card-title">Special title treatment</h5> -->
      <p class="card-text">Tipo de contratação: Temporário</p>
      <p class="card-text">Quantidade de Vagas: 1</p>
      <p class="card-text">Salário: 1.323,00</p>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <p><i class="bi bi-geo-alt"></i> Aparecida de Goiânia, Goiás</p>
        </div>
        <div class="col-md-3">
          <p><i class="bi bi-calendar"></i> Expira em: 4 dias</p>
        </div>
        <div class="col-md-3">
          <button class="btn btn-success">Candidatar-se</button>
        </div>
        <div class="col-md-3">
          <button class="btn btn-primary">Ver detalhes</button>
        </div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
