<h2 mat-dialog-title>Detalhes do currículo</h2>
<hr>
<mat-dialog-content class="mat-typography">

  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <h2>{{data.nome}}</h2>
    </div>
  </div>

  <div class="row">
    <p>Resumo:</p>
    <div class="col-md-12">
      <p>{{data.resumo}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>Data de nascimento: {{data.dataNascimento | date: 'dd/MM/yyyy'}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>Telefone: {{data.telefone | mask: '(00) 0000-0000'}}</p>
    </div>

    <div class="col-md-6">
      <p>Telefone celular: {{data.telefoneCelular | mask: '(00) 00000-0000'}}</p>
    </div>
  </div>

  <hr>

  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <h2>Endereço</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>Cidade: {{data.cidade}} - {{data.estado}}</p>
    </div>

    <div class="col-md-6">
      <p>Bairro: {{data.bairro}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>Logradouro: {{data.rua}} - {{data.numero}}</p>
    </div>

    <div class="col-md-6">
      <p>Complemento: {{data.complemento}}</p>
    </div>
  </div>

  <hr>

  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <h2>Formações</h2>
    </div>

    <mat-card *ngFor="let formacao of data.formacoes">
      <div class="row">
        <div class="col-md-6">
          <p>Instituição: {{formacao.nomeInstituicao}}</p>
        </div>

        <div class="col-md-6">
          <p>Curso: {{formacao.curso}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <p>Situação: {{formacao.status}}</p>
        </div>

        <div class="col-md-6">
          <p>Nível: {{formacao.nivel}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <p>Início: {{formacao.mesInicio}}/{{formacao.anoInicio}}</p>
        </div>

        <div class="col-md-6">
          <p>Conclusão: {{formacao.mesConclusao}}/{{formacao.anoConclusao}}</p>
        </div>
      </div>
    </mat-card>
  </div>

  <hr>

  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <h2>Experiências</h2>
    </div>

    <mat-card *ngFor="let experiencia of data.experiencias">
      <div class="row">
        <div class="col-md-4">
          <p>Empresa: {{experiencia.nomeEmpresa}}</p>
        </div>

        <div class="col-md-4">
          <p>Cargo: {{experiencia.cargo}}</p>
        </div>

        <div class="col-md-4">
          <p>Salário: {{experiencia.salario | currency:'BRL'}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <p>Início: {{experiencia.mesInicio}}/{{experiencia.anoInicio}}</p>
        </div>

        <div class="col-md-4">
          <p>Conclusão: {{experiencia.mesConclusao}}/{{experiencia.anoConclusao}}</p>
        </div>

        <div *ngIf="experiencia.atual" class="col-md-4">
          <p><i class="bi bi-check2"></i> Experiência atual</p>
        </div>
      </div>

      <div class="row">
        <p>Descrição:</p>
        <div class="col-md-12">
          <p>{{experiencia.descricao}}</p>
        </div>
      </div>
    </mat-card>
  </div>

  <hr>

  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <h2>Redes sociais</h2>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <a class="link" href="{{data.linkedin}}" target="_blank"><i class="bi bi-linkedin"></i></a>

    <a class="link" href="{{data.facebook}}" target="_blank"><i class="bi bi-facebook"></i></a>

    <a class="link" href="{{data.instagram}}" target="_blank"><i class="bi bi-instagram"></i></a>

    <a class="link" href="{{data.site}}" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-blue" mat-button mat-raised-button mat-dialog-close>Voltar</button>
</mat-dialog-actions>
