<div class="container-fluid footer">
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-5">
      © Copyright 2022, Todos os direitos reservados | EMPREGOS
    </div>

    <div class="col-md-7">
      <ul class="container-links">
        <li class="nav-item">
          <a class="nav-link" href="#">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="font-weight: bold;">ANUNCIAR</a>
        </li>
      </ul>
    </div>
  </div>
</div>
