<div class="container">
  <div class="row" style="padding: 20px 0px;">

    <div class="col-md-4">
      <div class="card">
        <div class="card-img">
          <i class="bi bi-person"></i>
        </div>
        <div class="card-body">
          <h2 class="card-title">{{candidato.nome}}</h2>
          <p class="card-text">Atualize seu currículo para aumentar suas chances!</p>
        </div>
      </div>
    </div>

    <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Candidaturas</h2>
            <p class="card-text">Não há novidades sobre as candidaturas...</p>
            <div class="row">
              <div class="col-md-4">
                <button type="button" class="btn btn-blue btn-status">
                  Enviado <span class="badge badge-light">0</span>
                </button>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-blue btn-status">
                  Em processo <span class="badge badge-light">0</span>
                </button>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-blue btn-status">
                  Finalista <span class="badge badge-light">0</span>
                </button>
              </div>
            </div>
          </div>
        </div>
    </div>

  </div>
</div>
