<div class="container">
  <div class="row" style="padding: 20px 0px;">

    <div class="col-md-4">
      <div class="card card-candidato">
        <div class="card-img">
          <i class="bi bi-person"></i>
          <button (click)="alterarSenhaClick()" class="btn btn-orange btn-alterar-senha">Alterar senha</button>
        </div>
        <div class="card-body">
          <h2 class="card-title">{{candidato.nome}}</h2>
          <p class="card-text">Currículo {{porcentagem}}% completo.</p>
          <p *ngIf="porcentagem < 100" class="card-text">Atualize seu currículo para aumentar suas chances!</p>
          <button class="btn btn-blue" [routerLink]="['/candidato/curriculo']">Editar currículo</button>
        </div>
      </div>
    </div>

    <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Novidades sobre suas candidaturas</h2>
            <p *ngIf="appService.isNullOrUndefined(qtdEnviados) && appService.isNullOrUndefined(qtdEmProcesso) && appService.isNullOrUndefined(qtdFinalista)"
            class="card-text">Não há novidades sobre as candidaturas...</p>
            <div class="row">
              <div class="col-4">
                <button class="btn btn-blue btn-status" [routerLink]="['/candidato/candidaturas']">
                  Enviado <span class="badge badge-light">{{qtdEnviados}}</span>
                </button>
              </div>
              <div class="col-4">
                <button class="btn btn-blue btn-status" [routerLink]="['/candidato/candidaturas']">
                  Em processo <span class="badge badge-light">{{qtdEmProcesso}}</span>
                </button>
              </div>
              <div class="col-4">
                <button class="btn btn-blue btn-status" [routerLink]="['/candidato/candidaturas']">
                  Finalista <span class="badge badge-light">{{qtdFinalista}}</span>
                </button>
              </div>
            </div>
            <!-- <button class="btn btn-blue" style="margin-top: 10px;" [routerLink]="['/candidato/candidaturas']">Ver candidaturas</button> -->
            <button class="btn btn-green" style="margin-top: 50px;" [routerLink]="['/empregos']"><i class="bi bi-plus-square"></i> Candidatar-se à novas vagas</button>
          </div>
        </div>
    </div>

  </div>
</div>
