.card {
  width: 65%;
  padding: 30px;
}

.jumbotron {
  margin-top: 90px;
  text-align: center;
}

.lead {
  margin-top: 10px;
}

.background {
  overflow-y: auto;
  height: 100%;
  background-color: #dde8ee;
}

.btn {
  color: white;
  margin: 7px;
  font-size: 18px;
  border-radius: 18px;
}

.btn.candidato {
  background-color: #e29c5e;
}

.btn.empresa {
  background-color: #50a877;
}

.paragrafo {
  font-size: 18px;
  font-weight: bold;
}

.password {
  font-size: 18px;
  color: #0e76a8;
}
