<app-header></app-header>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead" style="text-align: center;">Realize o seu cadastro para anunciar ou candidatar-se as VAGAS!</p>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="card">
      <mat-tab-group #tabs>
        <!-- <mat-tab label="Login">
          <form>
            <mat-form-field style="display: block; margin-top:5px;">
              <input matInput placeholder="Seu email cadastrado" name="email" required>
            </mat-form-field>
            <mat-form-field style="display: block;">
              <input matInput type="password" placeholder="Sua senha cadastrada" name="senha" required>
            </mat-form-field>
            <button mat-raised-button class="btn-blue">Entrar</button>
            <span (click)="irParaTabRegistrar()" class="text-primary" style="display:block; margin-top: 15px; cursor: pointer;">Ainda não possui cadastro? clique aqui para se registrar</span>
          </form>
        </mat-tab> -->

        <mat-tab label="Registrar Candidato">
          <form style="overflow-x: hidden;">
            <div class="row" style="margin-top:5px;">
              <div class="col-md-12">
                <mat-form-field style="display: block;">
                  <input [(ngModel)]="candidato.nome" matInput placeholder="Nome e sobrenome" name="nomeCandidato" required>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field style="display: block;">
                  <input [(ngModel)]="candidato.cep" matInput placeholder="CEP" name="cepCandidato" required>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field style="display: block;">
                  <input [(ngModel)]="candidato.cargo.id" matInput type="number" placeholder="Cargo desejado" name="cargoDesejado" required>
                </mat-form-field>
              </div>
              <!-- <div class="col-md-4">
                <mat-form-field style="display: block;">
                  <input [(ngModel)]="empresa.cep" matInput placeholder="CEP" name="cep" required>
                </mat-form-field>
              </div> -->
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field style="display: block;">
                  <input [(ngModel)]="candidato.email" matInput placeholder="Seu e-mail" name="emailCandidato" required>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field style="display: block;">
                  <input [(ngModel)]="candidato.senha" matInput type="password" placeholder="Sua senha para login" name="senhaCandidato" required>
                </mat-form-field>
              </div>
            </div>

            <button (click)="registrarCandidato()" mat-raised-button class="btn-blue">Registrar e Candidatar-se a vagas grátis</button>
          </form>
        </mat-tab>

        <mat-tab label="Registrar Empresa">
          <form style="overflow-x: hidden;">
            <div class="row" style="margin-top:5px;">
              <!-- <div class="col-md-6">
                <mat-form-field style="display: block;">
                  <input matInput placeholder="Cargo da vaga" name="cargo" required>
                </mat-form-field>
              </div> -->
              <div class="col-md-12">
                <mat-form-field style="display: block;">
                  <input [(ngModel)]="empresa.nome" matInput placeholder="Nome da empresa" name="nomeEmpresa" required>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <mat-form-field style="display: block;">
                  <input [(ngModel)]="empresa.cnpj" matInput placeholder="CNPJ da Empresa" name="cnpj" required>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field style="display: block;">
                  <input [(ngModel)]="empresa.qtdFuncionarios" matInput placeholder="N° de funcionários" name="numeroFuncionarios" required>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field style="display: block;">
                  <input [(ngModel)]="empresa.cep" matInput placeholder="CEP" name="cep" required>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <mat-form-field style="display: block;">
                  <input [(ngModel)]="empresa.nomeResponsavel" matInput placeholder="Seu nome completo" name="nomePessoa" required>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field style="display: block;">
                  <input [(ngModel)]="empresa.telefone" matInput placeholder="Seu telefone fixo" name="telefone" required>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field style="display: block;">
                  <input [(ngModel)]="empresa.celular" matInput placeholder="Seu celular" name="celular" required>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field style="display: block;">
                  <input [(ngModel)]="empresa.email" matInput placeholder="Seu e-mail" name="email" required>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field style="display: block;">
                  <input [(ngModel)]="empresa.senha" matInput type="password" placeholder="Sua senha para login" name="senha" required>
                </mat-form-field>
              </div>
            </div>

            <button (click)="registrarEmpresa()" mat-raised-button class="btn-blue">Registrar e Anunciar vagas grátis</button>
          </form>
        </mat-tab>

      </mat-tab-group>
  </div>
</div>

<app-footer></app-footer>
