.card {
  width: 65%;
  padding: 30px;
}

.jumbotron {
  margin-top: 90px;
  text-align: center;
}

.lead {
  margin-top: 10px;
}

.background {
  overflow-y: auto;
  height: 100%;
  background-color: #dde8ee;
}

.btn {
  color: white;
  font-size: 14px;
}

.btn-candidato {
  background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
  width: 100px;
  font-size: 13px;
  margin: 7px;
}

.btn-empresa {
  background-image: linear-gradient(to right, #348F50 0%, #56B4D3  51%, #348F50  100%);
  width: 100px;
  font-size: 13px;
}

.paragrafo {
  font-size: 18px;
  font-weight: bold;
}

.password {
  font-size: 18px;
  color: #0e76a8;
  cursor: pointer;
}

/* Ajustes */

@media (max-width: 320.98px) {

}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 321px) and (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .btn-candidato {
    font-size: 11px;
  }
  .btn-empresa {
    font-size: 11px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .btn-candidato {
    font-size: 12px;
  }
  .btn-empresa {
    font-size: 12px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
