<div class="container">
  <div class="row" style="padding: 20px 0px;">

    <div class="col-md-4">
      <div class="card card-empresa">
        <div class="card-img">
          <i class="bi bi-person"></i>
        </div>
        <div class="card-body">
          <h2 class="card-title">{{empresa.nome}}</h2>
          <p class="card-text">Dados {{porcentagem}}% completos.</p>
          <p *ngIf="porcentagem < 100" class="card-text">Atualize seu cadastro e divulgue suas vagas!</p>
          <button class="btn btn-blue" [routerLink]="['/empresa/vagas']">Divulgar vagas</button>
        </div>
      </div>
    </div>

    <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Novidades sobre as vagas cadastradas</h2>
            <p *ngIf="appService.isNullOrUndefined(qtdPostadas) && appService.isNullOrUndefined(qtdCandidatos)" class="card-text">Não há novidades sobre as vagas...</p>
            <div class="row">
              <div class="col-4">
                <button type="button" class="btn btn-blue btn-status" [routerLink]="['/empresa/vagas']">
                  Postadas <span class="badge badge-light">{{qtdPostadas}}</span>
                </button>
              </div>
              <div class="col-4">
                <button type="button" class="btn btn-blue btn-status" [routerLink]="['/empresa/vagas']">
                  Candidatos <span class="badge badge-light">{{qtdCandidatos}}</span>
                </button>
              </div>
              <!-- <div class="col-md-4">
                <button type="button" class="btn btn-blue btn-status">
                  Finalista <span class="badge badge-light">0</span>
                </button>
              </div> -->
            </div>
          </div>
        </div>
    </div>

  </div>
</div>
