<div class="background">
  <div class="container">
    <div class="row" style="padding: 20px 0px;">

      <div class="col-md-4">
        <div class="card">
          <div class="card-img">
            <i class="bi bi-person"></i>
          </div>
          <div class="card-body">
            <h2 class="card-title">Nome empresa</h2>
            <p class="card-text">Divulgue suas vagas e obtenha o sucesso almejado!</p>
          </div>
        </div>
      </div>

      <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Vagas</h2>
              <p class="card-text">Não há novidades sobre as vagas...</p>
              <div class="row">
                <div class="col-md-4">
                  <button type="button" class="btn btn-blue btn-status">
                    Postadas <span class="badge badge-light">0</span>
                  </button>
                </div>
                <div class="col-md-4">
                  <button type="button" class="btn btn-blue btn-status">
                    Candidatos <span class="badge badge-light">0</span>
                  </button>
                </div>
                <!-- <div class="col-md-4">
                  <button type="button" class="btn btn-blue btn-status">
                    Finalista <span class="badge badge-light">0</span>
                  </button>
                </div> -->
              </div>
            </div>
          </div>
      </div>

    </div>
  </div>
</div>
