<div class="container">
  <div class="row" style="padding: 20px 0px;">
    <div class="col-md-12">
      <p *ngIf="numeroCandidaturas > 0" class="texto-numvagas">Você se candidatou à {{numeroCandidaturas}} <span *ngIf="numeroCandidaturas === 1">vaga</span><span *ngIf="numeroCandidaturas > 1">vagas</span></p>

      <div *ngFor="let candidatura of candidaturas" class="card">
        <div class="card-header d-flex justify-content-between">
          <p class="nome-vaga">{{candidatura.vaga.nome}}</p>
          <span (click)="excluirCandidaturaClick(candidatura)" class="excluir"><i class="bi bi-trash"></i> Excluir</span>

        </div>
        <div class="card-body">
          <p class="card-text" style="font-size: 18px;"><i class="bi bi-building"></i> {{candidatura.vaga.empresa.nome}}</p>
          <div class="row">
            <div class="col-md-3">
              <p class="card-text">Salário: {{candidatura.vaga.salario | currency:'BRL'}}</p>
            </div>
            <div class="col-md-3">
              <p class="card-text">Localização: <i class="bi bi-geo-alt"></i>{{candidatura.vaga.localizacao}}</p>
            </div>
            <div class="col-md-3">
              <p class="card-text">Tipo: {{appService.tiposContratacao[candidatura.vaga.tipo].viewValue}}</p>
            </div>
            <div class="col-md-3">

            </div>
          </div>
          <hr>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
              <p style="text-align: justify;">
                {{(readMore) ? candidatura.vaga.descricao : candidatura.vaga.descricao | slice:0:500}} <span *ngIf="!readMore">... </span>
                <a href="javascript:;" *ngIf="!readMore" (click)="readMore=true">Ler mais</a>
                <a href="javascript:;" *ngIf="readMore" (click)="readMore=false">Ler menos</a>
              </p>
            </div>
          </div>
          <div class="row" style="margin-top: 15px;">
            <!-- <div class="col-md-2">
              <p><i class="bi bi-geo-alt"></i> {{candidatura.vaga.localizacao}}</p>
            </div> -->
            <!-- <div class="col-md-2">
              <button class="btn btn-blue">Opções</button>
            </div> -->
            <div class="col-md-12 d-flex justify-content-end">
              <button type="button" class="btn btn-blue btn-status"
              [ngClass]="{'btn-verde': candidatura.status === 0}"
              [disabled]="candidatura.status !== 0">
                Recebido
              </button>
              <button type="button" class="btn btn-blue btn-status"
              [ngClass]="{'btn-verde': candidatura.status === 1}"
              [disabled]="candidatura.status !== 1">
                Revisado
              </button>
              <button type="button" class="btn btn-blue btn-status"
              [ngClass]="{'btn-verde': candidatura.status === 2}"
              [disabled]="candidatura.status !== 2">
                Pré-selecionado
              </button>
              <button type="button" class="btn btn-blue btn-status"
              [ngClass]="{'btn-verde': candidatura.status === 3}"
              [disabled]="candidatura.status !== 3">
                Finalista
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
