.btn-status {
  border-radius: 5px 30px 30px 5px;
  margin-right: 2px;
}

.btn-status:hover {
  cursor: default;
  color: white;
}

.btn-verde {
  background-color: #50a877;
}

.card {
  margin-bottom: 20px;
}

.texto-numvagas {
  font-weight: bold;
  font-size: 20px;
}

.nome-vaga {
  font-size: 17px;
  font-weight: bold;
}

.excluir {
  font-size: 16px;
  font-weight: bold;
  color: rgb(153, 50, 50);
  cursor: pointer;
}
