<div class="background">
  <div class="container">
    <div class="row" style="padding: 20px 0px;">
      <div class="col-md-12">
        <p style="font-weight: bold; font-size: 20px;">Você se candidatou à *numvagas* vaga/vagas</p>

        <div class="card">
          <div class="card-header">
            Nome vaga candidatura
          </div>
          <div class="card-body">
            <!-- <h5 class="card-title">Special title treatment</h5> -->
            <p class="card-text">Nome empresa: </p>
            <hr>
            <div class="row">
              <div class="col-md-2">
                <p><i class="bi bi-geo-alt"></i> Localização</p>
              </div>
              <div class="col-md-2">
                <button class="btn btn-blue">Opções</button>
              </div>
              <div class="col-md-8 d-flex justify-content-end">
                <button type="button" class="btn btn-blue btn-status">
                  Recebido
                </button>
                <button type="button" class="btn btn-blue btn-status">
                  Revisado
                </button>
                <button type="button" class="btn btn-blue btn-status">
                  Pré-selecionado
                </button>
                <button type="button" class="btn btn-blue btn-status">
                  Finalista
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
