@import "~bootstrap-icons/font/bootstrap-icons.css";
/* You can add global styles to this file, and also import other style files */
* {
  font-family: Raleway, Nunito, sans-serif !important;
  /* Add !important to overwrite all elements */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-blue {
  background-color: #0e76a8;
  color: white;
}

.btn-orange {
  background-color: #bc511b;
  color: white;
}

.btn-yellow {
  background-color: #B8B126;
  color: white;
}

.btn-green {
  background-color: #14a800;
  color: white;
}

.btn-red {
  background-color: #b7253e;
  color: white;
}
