@import "~bootstrap-icons/font/bootstrap-icons.css";
/* You can add global styles to this file, and also import other style files */
* {
  font-family: Raleway, Nunito, sans-serif !important;
  /* Add !important to overwrite all elements */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn {
  border-radius: 8px;
  box-shadow: 0px 0px 8px -4px #000000;
}

.btn-blue {
  background-color: #0e76a8;
  color: white;
}

.btn-orange {
  background-color: #bc511b;
  color: white;
}

.btn-yellow {
  background-color: #B8B126;
  color: white;
}

.btn-green {
  background-color: #2b8b3b;
  color: white;
}

.btn-red {
  background-color: rgb(153, 50, 50);
  color: white;
}

.snack-background-red {
  background-color: rgb(153, 50, 50);
  color: #fff;
}

.snack-background-green {
  background-color: #2b8b3b;
  color: #fff;
}

.card {
  border-radius: 8px;
  box-shadow: 0px 0px 8px -4px #000000;
}

.card-header {
  background-color: #fbfbfb;
}

/*Dialog*/
.cdk-overlay-container {
  z-index: 9999 !important;
}
