mat-form-field {
  width: 100%;
}

.container {
  padding: 20px 0px;
}

.card {
  padding: 20px;
}

.titulos {
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
}

.btn-salvar {
  font-size: 20px;
  width: 20%;
}

.btn-adicionar {
  font-size: 14px;
}

.card-infos {
  padding: 5px;
  background-color: #dde8ee;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: bold;
}
