mat-form-field {
  width: 100%;
}

.background {
  height: 100%;
  background-color: #dde8ee;
  padding: 20px 0px;
}

.card {
  padding: 20px;
}

.titulos {
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
}
