mat-form-field {
  width: 100%;
}

.container {
  padding: 20px 0px;
}

.card {
  padding: 20px;
}

.titulos {
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
}

.btn-salvar {
  font-size: 20px;
  width: 20%;
}

.btn-adicionar {
  font-size: 14px;
}

.card-infos {
  padding: 5px;
  background-color: #dde8ee;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0px 0px 8px -4px #000000;
}

.editar {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #bc511b;
}

.excluir {
  font-size: 16px;
  font-weight: bold;
  color: rgb(153, 50, 50);
  cursor: pointer;
}

/* Ajustes */

@media (max-width: 320.98px) {
  .btn-salvar {
    font-size: 10px;
    width: 50%;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 321px) and (max-width: 575.98px) {
  .btn-salvar {
    font-size: 15px;
    width: 40%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .btn-salvar {
    font-size: 18px;
    width: 30%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .btn-salvar {
    font-size: 18px;
    width: 35%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
