<div class="background">
  <div class="container">
    <div class="card">
      <div class="row">
        <div class="col-md-4">
          <p class="titulos">DADOS PESSOAIS</p>
        </div>

        <div class="col-md-8">
          Formulário...
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <p class="titulos">REDES SOCIAIS</p>
        </div>

        <div class="col-md-8">
          Formulário...
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <p class="titulos">FORMAÇÃO</p>
        </div>

        <div class="col-md-8">
          Formulário...
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <p class="titulos">EXPERIÊNCIAS</p>
        </div>

        <div class="col-md-8">
          Formulário...
        </div>
      </div>
    </div>
  </div>
</div>
