<h2 class="titulos" mat-dialog-title>Detalhes da vaga</h2>
<mat-dialog-content class="mat-typography">

  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <h2 class="titulos">{{data.nome}}</h2>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-md-6">
      <p>Tipo de Contratação: {{appService.tiposContratacao[data.tipo].viewValue}}</p>
    </div>

    <div class="col-md-6">
      <p>Quantidade de Vagas: {{data.quantidade}}</p>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-md-6">
      <p><i class="bi bi-cash-coin"></i> Salário: {{data.salario | currency:'BRL'}}</p>
    </div>

    <div class="col-md-6">
      <p><i class="bi bi-geo-alt"></i> Localização: {{data.localizacao}}</p>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-md-6">
      <p><i class="bi bi-calendar"></i> Data de inclusão: {{data.dataCadastro | date: 'dd/MM/yyyy'}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <span>Descrição: </span>
      <p style="text-align: justify;">
        {{(readMore) ? data.descricao : data.descricao | slice:0:50}} <span *ngIf="!readMore">... </span>
        <a href="javascript:;" *ngIf="!readMore" (click)="readMore=true">Ler mais</a>
        <a href="javascript:;" *ngIf="readMore" (click)="readMore=false">Ler menos</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <span>Requisitos: </span>
      <p>{{data.requisitos}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <span>Benefícios: </span>
      <p>{{data.beneficios}}</p>
    </div>
  </div>

  <hr>

  <h2 class="titulos">Dados da empresa</h2>

  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <h2 class="titulos">{{data.empresa.nome}}</h2>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-md-6">
      <p>Quantidade de Funcionários: {{data.empresa.qtdFuncionarios}}</p>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <h2>Endereço</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>Cidade: {{data.empresa.cidade}} - {{data.empresa.estado}}</p>
    </div>

    <div class="col-md-6">
      <p>Bairro: {{data.empresa.bairro}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>Logradouro: {{data.empresa.rua}} - {{data.empresa.numero}}</p>
    </div>

    <div class="col-md-6">
      <p>Complemento: {{data.empresa.complemento}}</p>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-md-6">
      <p>Telefone: {{data.empresa.telefone | mask: '(00) 0000-0000'}}</p>
    </div>
    <div class="col-md-6">
      <p>Celular: {{data.empresa.celular | mask: '(00) 00000-0000'}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <span>Descrição: </span>
      <p style="text-align: justify;">
        {{(readMore) ? data.empresa.descricao : data.empresa.descricao | slice:0:50}} <span *ngIf="!readMore">... </span>
        <a href="javascript:;" *ngIf="!readMore" (click)="readMore=true">Ler mais</a>
        <a href="javascript:;" *ngIf="readMore" (click)="readMore=false">Ler menos</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p style="text-align: justify;">
        Seguimento: {{data.empresa.seguimento}}
      </p>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button color="primary" mat-button mat-raised-button mat-dialog-close>Voltar</button>
  <button *ngIf="usuarioService.usuarioAutenticado && usuarioService.objUsuarioAutenticado.tipoUsuario == 2"  (click)="candidatarClick(data)" class="btn-blue" mat-button mat-raised-button cdkFocusInitial>Candidatar-se</button>
</mat-dialog-actions>
