<h2 mat-dialog-title>Detalhes da vaga</h2>
<hr>
<mat-dialog-content class="mat-typography">

  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <h2>{{data.nome}}</h2>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-md-6">
      <p>ID: {{data.id}}</p>
    </div>

    <div class="col-md-6">
      <p>Tipo de Contratação: {{appService.tiposContratacao[data.tipo].viewValue}}</p>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-md-6">
      <p>Quantidade de Vagas: {{data.quantidade}}</p>
    </div>

    <div class="col-md-6">
      <p>Salário: {{data.salario | currency:'BRL'}}</p>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-md-6">
      <p>Localização: <i class="bi bi-geo-alt"></i> {{data.localizacao}}</p>
    </div>

    <div class="col-md-6">
      <p><i class="bi bi-calendar"></i> Data inclusão: {{data.dataCadastro | date: 'dd/MM/yyyy'}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p style="text-align: justify;">
        {{(readMore) ? data.descricao : data.descricao | slice:0:50}} <span *ngIf="!readMore">... </span>
        <a href="javascript:;" *ngIf="!readMore" (click)="readMore=true">Ler mais</a>
        <a href="javascript:;" *ngIf="readMore" (click)="readMore=false">Ler menos</a>
      </p>
    </div>
  </div>

  <hr>

  <h2>Dados da empresa</h2>

  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <h3>{{data.empresa.nome}}</h3>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-md-6">
      <p>Quantidade de Funcionários: {{data.empresa.qtdFuncionarios}}</p>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button color="primary" mat-button mat-raised-button mat-dialog-close>Voltar</button>
  <button *ngIf="loginService.usuarioAutenticado && loginService.objUsuarioAutenticado.tipoUsuario == 2"  (click)="openCandidatar()" class="btn-blue" mat-button mat-raised-button cdkFocusInitial>Candidatar-se</button>
</mat-dialog-actions>
