<div class="container-fluid navbar-background">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><img class="img-fluid" src="assets/img/logo.png" alt="Logo" width="90"></a>
    <button class="navbar-toggler" (click)="showCollapse()" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" [ngClass]="{'show':show}" id="navbarToggler">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'link-ativo': isHome}" [routerLink]="['/inicio']">INÍCIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'link-ativo': isEmpregos}" [routerLink]="['/empregos']">BUSCAR VAGAS</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" [ngClass]="{'link-ativo': isEstagios}" [routerLink]="['/estagios']">Estágios</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" [ngClass]="{'link-ativo': isConcursos}" [routerLink]="['/concursos']">Concursos</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'link-ativo': isCadastro}" [routerLink]="['/cadastro']" style="font-weight: bold;">CADASTRE-SE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'link-ativo': isLogin}" [routerLink]="['/login']" style="font-weight: bold;">ENTRE</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

