a {
  text-decoration: none;
}

.navbar-toggler {
  color: #ffffff;
  border: none;
  font-size: 25px;
}

.navbar-background {
  background-color: #0e76a8;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.navbar {
  min-height: 60px;
}

.navbar-brand {
  color: #ffffff;
  font-size: 20px;
}

.nav-link {
  color: #ffffff !important;
  font-size: 17px;
}

.nav-item {
  margin-right: 15px;
}

/* .nav-link::after {
  content: '';
  background-color: white;
  position: absolute;
  bottom: 8px;
  left: 0;
  height: 2px;
  width: 0%;
  transition: 0.5s;
}

.nav-link:hover::after {
  width: 100%;
  transition: 0.5s;
} */

.link-ativo {
  color:  #a9a9a9 !important;
}

.img-fluid {
  margin-left: 30px;
}

.btn {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 18px;
  box-shadow: none;
}

.laranja-link {
  background-color: #ff8b22;
  border-radius: 18px;
}
