<div class="container-fluid navbar-background">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><img class="img-fluid" src="assets/img/logo.png" alt="Logo" width="90"></a>
    <button class="navbar-toggler" (click)="showCollapse()" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" [ngClass]="{'show':show}" id="navbarToggler">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'link-ativo': isHome}" [routerLink]="['/inicio']"><i class="bi bi-house"></i> INÍCIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'link-ativo': isEmpregos}" [routerLink]="['/empregos']"><i class="bi bi-search"></i> BUSCAR VAGAS</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" [ngClass]="{'link-ativo': isEstagios}" [routerLink]="['/estagios']">Estágios</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" [ngClass]="{'link-ativo': isConcursos}" [routerLink]="['/concursos']">Concursos</a>
        </li> -->
        <li *ngIf="loginService.usuarioAutenticado && loginService.objUsuarioAutenticado.tipoUsuario == 2" class="nav-item">
          <a class="nav-link" [routerLink]="['/candidato/area']">ÁREA DO CANDIDATO</a>
        </li>
        <li *ngIf="!loginService.usuarioAutenticado" class="nav-item">
          <a class="nav-link" [ngClass]="{'link-ativo': isLogin}" [routerLink]="['/login']" style="font-weight: bold;"><i class="bi bi-arrow-bar-right"></i> ENTRAR</a>
        </li>
        <li *ngIf="!loginService.usuarioAutenticado" class="nav-item">
          <a class="nav-link anunciar-link" [routerLink]="['/login']" style="font-weight: bold;"><i class="bi bi-check2"></i> ANUNCIAR</a>
        </li>
        <!-- <li *ngIf="!loginService.usuarioAutenticado" class="nav-item">
          <a class="nav-link" [ngClass]="{'link-ativo': isCadastro}" [routerLink]="['/cadastro']" style="font-weight: bold;">CADASTRAR</a>
        </li> -->
        <li *ngIf="loginService.usuarioAutenticado" class="nav-item">
          <button class="btn" [matMenuTriggerFor]="menu"><i class="bi bi-person"></i><i class="bi bi-caret-down-fill"></i></button>
          <mat-menu #menu="matMenu">
            <!-- <button *ngIf="loginService.objUsuarioAutenticado.tipoUsuario == 2" mat-menu-item>Candidaturas</button>
            <button *ngIf="loginService.objUsuarioAutenticado.tipoUsuario == 1" mat-menu-item>Vagas cadastradas</button> -->
            <!-- <button mat-menu-item>Meu cadastro</button> -->
            <button (click)="deslogar()" mat-menu-item>Sair</button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </nav>
</div>

