mat-form-field {
  width: 100%;
}

.btn-status {
  border-radius: 5px 30px 30px 5px;
  margin-right: 2px;
}

.btn-status:hover {
  cursor: default;
  color: white;
}

.btn-verde {
  background-color: #50a877;
}

.card {
  margin-bottom: 20px;
}

.card-text {
  font-size: 17px;
}

.card-cadastro {
  margin-top: 10px;
  padding: 15px;
}

.texto-vagas {
  font-weight: bold;
  font-size: 20px;
}

.nome-vaga {
  font-size: 20px;
  font-weight: bold;
}

.btn-green {
  margin-bottom: 10px;
}

.btn-salvar {
  margin-top: 10px;
  font-size: 18px;
  width: 20%;
}

.span-actions {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.editar {
  color: #bc511b;
}

.excluir {
  color: rgb(153, 50, 50);
}
