<div *ngIf="loaderService.isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="container">
  <div class="row" style="padding: 20px 0px;">
    <div [ngSwitch]="stateChange" class="col-md-12">

      <div *ngSwitchCase="state.StateGrid">
        <p *ngIf="numeroVagas > 0" class="texto-vagas">Você cadastrou {{numeroVagas}} <span *ngIf="numeroVagas === 1">vaga</span><span *ngIf="numeroVagas > 1">vagas</span></p>

        <button (click)="cadastrarVagaClick()" class="btn btn-green"><i class="bi bi-plus-square"></i> Divulgar nova vaga</button>

        <div *ngFor="let vaga of vagas" [ngClass]="{'card-desativado': vaga.status === 1}" class="card">
          <div [ngClass]="{'card-desativado': vaga.status === 1}" class="card-header d-flex justify-content-between">
            <p class="nome-vaga">{{vaga.nome}}</p>
            <div>
              <span *ngIf="vaga.status !== 1" (click)="editarClick(vaga)" class="span-actions editar"><i class="bi bi-pencil"></i> Editar</span>
              <span *ngIf="vaga.status !== 1" (click)="excluirClick(vaga)" class="span-actions excluir" style="margin-left: 10px;"><i class="bi bi-trash"></i> Excluir</span>
              <span *ngIf="vaga.status === 1" (click)="reativarClick(vaga)" class="span-actions reativar" style="margin-left: 10px;"><i class="bi bi-arrow-counterclockwise"></i> Reativar</span>
            </div>
          </div>
          <div class="card-body">
            <!-- <h5 class="card-title">Special title treatment</h5> -->
            <div class="row">
              <div class="col-md-4">
                <p class="card-text">Tipo da vaga: {{appService.tiposContratacao[vaga.tipo].viewValue}}</p>
              </div>
              <div class="col-md-4">
                <p class="card-text">Localização: <i class="bi bi-geo-alt"></i>{{vaga.localizacao}}</p>
              </div>
              <div class="col-md-4">
                <p class="card-text">Quantidade: {{vaga.quantidade}}</p>
              </div>
            </div>
            <div class="row" style="margin-top: 10px;">
              <div class="col-md-4">
                <p class="card-text">Salário: {{vaga.salario | currency:'BRL'}}</p>
              </div>
              <div class="col-md-4">
                <p class="card-text">Data inclusão: {{vaga.dataCadastro | date: 'dd/MM/yyyy'}}</p>
              </div>
            </div>
            <div class="row" style="margin-top: 10px;">
              <div class="col-md-12">
                <p style="text-align: justify; font-size: 15px;">
                  {{(readMore) ? vaga.descricao : vaga.descricao | slice:0:500}} <span *ngIf="!readMore">... </span>
                  <a href="javascript:;" *ngIf="!readMore" (click)="readMore=true">Ler mais</a>
                  <a href="javascript:;" *ngIf="readMore" (click)="readMore=false">Ler menos</a>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span>Benefícios: </span>
                <p style="text-align: justify; font-size: 15px;">
                  {{vaga.beneficios}}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span>Requisitos: </span>
                <p style="text-align: justify; font-size: 15px;">
                  {{vaga.requisitos}}
                </p>
              </div>
            </div>
            <hr>
            <div *ngIf="vaga.status !== 1" class="row">
              <div class="col-md-9"></div>
              <div class="col-md-3">
                <button (click)="exibirCandidatosClick(vaga)" class="btn btn-blue" style="width: 100%;">Ver candidatos</button>
              </div>
            </div>
          </div>
        </div>

        <nav *ngIf="totalElements > 0" aria-label="...">
          <ul class="pagination">
            <li class="page-item" [ngClass]="{'disabled' : page === 0}">
              <a (click)="irPaginaAnterior()" class="page-link">Anterior</a>
            </li>
            <li class="page-item active">
              <a class="page-link primary">{{page + 1}}</a>
            </li>
            <li class="page-item" [ngClass]="{'disabled' : last}">
              <a (click)="irPaginaPosterior()" class="page-link">Próximo</a>
            </li>
          </ul>
        </nav>
      </div>

      <div *ngSwitchCase="state.StateDados">
        <div class="d-flex justify-content-between align-items-end">
          <p class="texto-vagas">Dados da vaga</p>
          <button (click)="voltarClick()" class="btn btn-red"><i class="bi bi-arrow-return-left"></i> Voltar</button>
        </div>

        <div class="card card-cadastro">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input [(ngModel)]="vaga.nome" matInput placeholder="Nome da vaga" name="nome" required>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input [(ngModel)]="vaga.localizacao" matInput placeholder="Localização (ex: Goiânia - GO)" name="localizacao" required>
              </mat-form-field>
            </div>
          </div>

          <div class="row align-items-end">
            <div class="col-md-4">
              <mat-form-field>
                <input [(ngModel)]="vaga.quantidade" (keypress)="appService.keyPressNumbers($event)" maxlength="4" matInput placeholder="Quantidade de vagas" name="quantidade" required>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field>
                <input currencyMask [(ngModel)]="vaga.salario" (keypress)="appService.keyPressNumbers($event)" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" matInput placeholder="Salário" name="salario" required>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="fill">
                <mat-label>Tipo de Contratação</mat-label>
                <mat-select [(ngModel)]="vaga.tipo">
                  <mat-option *ngFor="let tipo of appService.tiposContratacao" [value]="tipo.value">
                    {{tipo.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="fill">
                <mat-label>Validade da vaga</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="vaga.expiracao">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div> -->

          <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
              <mat-form-field>
                <mat-label>Descrição da vaga</mat-label>
                <textarea [(ngModel)]="vaga.descricao" matInput></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="row" style="margin-top: 2px;">
            <div class="col-md-12">
              <mat-form-field>
                <mat-label>Benefícios</mat-label>
                <textarea [(ngModel)]="vaga.beneficios" matInput rows="1" placeholder="Exemplos: VT, VA ou a Combinar"></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="row" style="margin-top: 2px;">
            <div class="col-md-12">
              <mat-form-field>
                <mat-label>Requisitos</mat-label>
                <textarea [(ngModel)]="vaga.requisitos" matInput rows="1"></textarea>
              </mat-form-field>
            </div>
          </div>

          <button (click)="salvarVagaClick()" class="btn btn-blue btn-salvar">Salvar vaga</button>
        </div>

      </div>

      <div *ngSwitchCase="state.StateCandidatos">
        <div class="d-flex justify-content-between align-items-end">
          <p class="texto-vagas" matTooltip="ID: {{vaga.id}}">Candidatos da vaga {{vaga.nome}}</p>
          <button (click)="voltarClick()" class="btn btn-red"><i class="bi bi-arrow-return-left"></i> Voltar</button>
        </div>

        <div *ngFor="let candidatura of candidaturas" class="card" style="margin-top: 10px;">
          <div class="card-header d-flex justify-content-between">
            <p class="nome-vaga">{{candidatura.candidato.nome}}</p>
            <p>Data da candidatura: {{candidatura.dataCandidatura | date: 'dd/MM/yyyy'}}</p>
            <button (click)="exibirCurriculoClick(candidatura.candidato.id)" class="btn btn-blue">Exibir currículo completo</button>
          </div>
          <div class="card-body">
            <!-- <p>Status</p> -->
            <div class="col-md-12 d-flex justify-content-start">
              <button (click)="atualizarStatus(candidatura)" type="button" class="btn btn-blue btn-status"
              [ngClass]="{'btn-verde': candidatura.status === 1}">
                Revisado
              </button>
              <button (click)="atualizarStatus(candidatura)" type="button" class="btn btn-blue btn-status"
              [ngClass]="{'btn-verde': candidatura.status === 2}">
                Pré-selecionado
              </button>
              <button (click)="atualizarStatus(candidatura)" type="button" class="btn btn-blue btn-status"
              [ngClass]="{'btn-verde': candidatura.status === 3}">
                Finalista
              </button>
            </div>
            <!-- <hr>
            <div class="row">
              <div class="col-md-3">
                <p>No AdJobs desde: {{candidatura.candidato.dataCadastro | date: 'dd/MM/yyyy'}}</p>
              </div>
              <div class="col-md-3">
                <button (click)="exibirCurriculoClick(candidatura.candidato.id)" class="btn btn-blue" style="width: 100%;">Exibir currículo completo</button>
              </div>
            </div> -->
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
