<!-- <app-header></app-header> -->

<div class="background">
  <div class="jumbotron">
    <a class="navbar-brand" href="#"><img class="img-fluid" src="assets/img/logo_alternativa.png" alt="Logo" width="90"></a>
    <p class="lead">Acesse sua conta</p>
  </div>

  <div class="d-flex justify-content-center align-items-center mt-5">
    <div class="card">
      <form>
        <mat-form-field style="display: block; margin-top:5px;">
          <input [(ngModel)]="usuarioLogin.email" matInput placeholder="E-mail" name="email" required>
        </mat-form-field>
        <mat-form-field style="display: block;">
          <input [(ngModel)]="usuarioLogin.senha" matInput type="password" placeholder="Senha" name="senha" required>
        </mat-form-field>
        <span [routerLink]="['/recuperacao-senha']" class="text-primary" style="display:block; cursor: pointer;">Esqueceu sua senha?</span>
        <button (click)="realizarLogin()" mat-raised-button class="btn-blue">Entrar</button>
        <span [routerLink]="['/cadastro']" class="text-primary" style="display:block; margin-top: 15px; cursor: pointer;">Ainda não possui cadastro? clique aqui para se cadastrar</span>
      </form>
    </div>
  </div>
</div>

<!-- <app-footer></app-footer> -->
