.card {
  width: 65%;
  padding: 30px;
}

.jumbotron {
  margin-top: 30px;
  text-align: center;
}

.lead {
  margin-top: 5px;
}

.background {
  overflow-y: auto;
  height: 100%;
  background-color: #dde8ee;
}

.btn-blue {
  margin-top: 8px;
}

.password {
  font-size: 18px;
  color: #0e76a8;
}
